---
lint: |
  yamllint .
  ansible-lint .
dependency:
  name: galaxy
  enabled: false
driver:
  name: docker
platforms:
  - name: vmagent-proxy-${MOLECULE_DISTRO:-debian13}
    image: "geerlingguy/docker-${MOLECULE_DISTRO:-debian13}-ansible:latest"
    groups:
      - test_target
    command: ${MOLECULE_DOCKER_COMMAND:-""}
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    privileged: true
    pre_build_image: true
    networks:
      - name: vmagent
  - name: vmagent-proxy-server
    image: "geerlingguy/docker-${MOLECULE_DISTRO:-debian13}-ansible:latest"
    command: ${MOLECULE_DOCKER_COMMAND:-""}
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    privileged: true
    pre_build_image: true
    networks:
      - name: vmagent

provisioner:
  name: ansible
  env:
    ANSIBLE_ROLES_PATH: ../../../
verifier:
  name: ansible
