---
- name: Converge
  hosts: all
  become: yes
  tasks:
    - name: "Include vmagent"
      vars:
        vmagent_enterprise: true
        vmagent_license_key_file: "/tmp/vm-license"
        vmagent_service_args:
          "remoteWrite.url":
            - "url1/api/v1/write"
            - "url2/api/v1/write"
          "remoteWrite.tmpDataPath": /tmp/vmagent
      ansible.builtin.include_role:
        name: "vmagent"
