---
victorialogs_version: "v1.45.0"
victorialogs_enterprise: false
victorialogs_license_key: ""
victorialogs_license_key_file: ""

victorialogs_platform: "linux"
victorialogs_repo_url: "https://github.com/VictoriaMetrics/VictoriaLogs"
victorialogs_download_url: "{{ victorialogs_repo_url }}/releases/download/{{ victorialogs_version }}/victoria-logs-{{ victorialogs_platform }}-{{ go_arch }}-{{ victorialogs_version }}{% if victorialogs_enterprise %}-enterprise{% endif %}.tar.gz"

victorialogs_system_user: "victorialogs"
victorialogs_system_group: "{{ victorialogs_system_user }}"
victorialogs_data_dir: "/var/lib/victoria-logs/"
victorialogs_retention_period_months: "12"

# more on envflags usage
# https://docs.victoriametrics.com/Single-server-VictoriaMetrics.html#environment-variables
victorialogs_service_envflag_enabled: "false"
# Array of strings to pass
victorialogs_service_envflag_data: []
#  - "graphiteListenAddr=127.0.0.1:12345"
victorialogs_service_envflag_file: "/etc/default/victoriametrics"

# Download behavior
victorialogs_install_download_to_control: false

# Proxy environment for downloads
vm_proxy_http: ""
vm_proxy_https: ""

victorialogs_service_args:
  storageDataPath: "{{ victorialogs_data_dir }}"
  retentionPeriod: "{{ victorialogs_retention_period_months }}"

victorialogs_max_open_files: 2097152
