user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
       worker_connections 768;
}
http {
       sendfile on;
       tcp_nopush on;
       tcp_nodelay on;
       keepalive_timeout 65;
       types_hash_max_size 2048;
       include /etc/nginx/mime.types;
       default_type application/octet-stream;
       ssl_protocols TLSv1 TLSv1.1 TLSv1.2; # Dropping SSLv3, ref: POODLE
       ssl_prefer_server_ciphers on;
       access_log /var/log/nginx/access.log;
       error_log /var/log/nginx/error.log;
}

stream {
    server {
        listen 8480;
        proxy_pass victoria-insert;
    }
    server {
        listen 8481;
        proxy_pass victoria-select;
    }

    upstream victoria-insert {
{% for host in groups[vminsert_group] %}
        server {{ hostvars[host]['ansible_'~if_name].ipv4.address }}:8480;
{% endfor %}
    }
    upstream victoria-select {
{% for host in groups[vmselect_group] %}
        server {{ hostvars[host]['ansible_'~if_name].ipv4.address }}:8481;
{% endfor %}
    }
}
