{{ ansible_managed | comment }}

[Unit]
Description=Description=VictoriaMetrics VMalert service
After=network.target

[Service]
Type=simple
User={{ vic_vm_alert_system_user }}
Group={{ vic_vm_alert_system_group }}
ExecStart=/usr/local/bin/vmalert-prod {%- for flag, flag_values in vic_vm_alert_service_args.items() -%}
{%- if flag_values | type_debug == "list" -%}
{% for flag_value in flag_values %} --{{ flag }}={{ flag_value }} {% endfor %}
{% else %} --{{ flag }}={{ flag_values }} {% endif %}
{% endfor %}

SyslogIdentifier={{ vic_vm_alert_service_name }}
Restart=always

PrivateTmp=yes
ProtectHome=yes
NoNewPrivileges=yes

ProtectSystem=full

{% if vic_vm_alert_systemd_version | int >= 232 %}
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes
{% endif %}

[Install]
WantedBy=multi-user.target
