---
- name: Create vminsert system group
  ansible.builtin.group:
    name: "{{ vminsert_system_group }}"
    state: present
    system: true
  when: vminsert_system_group != "root"

- name: Create vminsert system user
  ansible.builtin.user:
    name: "{{ vminsert_system_user }}"
    groups: "{{ vminsert_system_group }}"
    append: true
    shell: /usr/sbin/nologin
    system: true
    createhome: false
  when: vminsert_system_user != "root"

- name: Ensure existence of /usr/local/bin
  ansible.builtin.file:
    path: /usr/local/bin
    state: directory
    mode: "0755"

- name: Delete existing vminsert version if it's different.
  ansible.builtin.file:
    path: /usr/local/bin/vminsert-prod
    state: absent
  when:
  - vminsert_is_installed.stat.exists | bool
  - vminsert_version not in vminsert_current_version.stdout

- name: Install via control host
  when: vminsert_install_download_to_control
  block:
  - name: Download and unarchive vminsert release binary
    environment:
      http_proxy: "{{ vm_proxy_http }}"
      https_proxy: "{{ vm_proxy_https }}"
    ansible.builtin.unarchive:
      src: "{{ vminsert_download_url }}"
      dest: /tmp
      remote_src: yes
    delegate_to: localhost
    become: no
    when:
    - not ansible_check_mode
    - not vminsert_is_installed.stat.exists or
      vminsert_version not in vminsert_current_version.stdout

  - name: Copy vminsert binary to target host
    notify: Restart vminsert service
    ansible.builtin.copy:
      src: /tmp/vminsert-prod
      dest: /tmp/vminsert-prod
      mode: "0751"
      owner: "{{ vminsert_system_user }}"
      group: "{{ vminsert_system_group }}"
    when:
    - not ansible_check_mode
    - not vminsert_is_installed.stat.exists or
      vminsert_version not in vminsert_current_version.stdout

  - name: Replace vminsert binary at target dir # noqa: no-changed-when
    notify: Restart vminsert service
    ansible.builtin.shell: |
      mv /tmp/vminsert-prod /usr/local/bin/vminsert-prod
    when:
    - not ansible_check_mode
    - not vminsert_is_installed.stat.exists or
      vminsert_version not in vminsert_current_version.stdout

- name: Install directly to target host
  when: not vminsert_install_download_to_control
  block:
  - name: Download and unarchive vminsert release binary
    environment:
      http_proxy: "{{ vm_proxy_http }}"
      https_proxy: "{{ vm_proxy_https }}"
    ansible.builtin.unarchive:
      src: "{{ vminsert_download_url }}"
      dest: /tmp
      remote_src: yes
      extra_opts:
      - --no-same-owner
    when:
    - not ansible_check_mode
    - not vminsert_is_installed.stat.exists or
      vminsert_version not in vminsert_current_version.stdout

  - name: Replace vminsert binary at target dir # noqa: no-changed-when
    notify: Restart vminsert service
    ansible.builtin.shell: |
      mv /tmp/vminsert-prod /usr/local/bin/vminsert-prod
      chmod 0751 /usr/local/bin/vminsert-prod
      chown {{ vminsert_system_user }}:{{ vminsert_system_group }} /usr/local/bin/vminsert-prod
    when:
    - not ansible_check_mode
    - not vminsert_is_installed.stat.exists or
      vminsert_version not in vminsert_current_version.stdout

- name: Restore SELinux context for vminsert binary
  ansible.builtin.command:
    cmd: restorecon -v /usr/local/bin/vminsert-prod
  register: restorecon_result
  changed_when: "'relabeled' in restorecon_result.stdout"
  when:
  - ansible_selinux is defined
  - ansible_selinux.status == "enabled"
  - not ansible_check_mode
