---
vic_vm_alert_version: "v1.118.0"
vic_vm_alert_enterprise: false
vic_vm_alert_license_key: ""
vic_vm_alert_license_key_file: ""
vic_vm_alert_service_name: vic-vmalert

vic_vm_alert_repo_url: "https://github.com/VictoriaMetrics/VictoriaMetrics"
vic_vm_alert_platform: "{% if vic_vm_alert_version.replace('v', '') is version('1.79.0', '>=') %}-linux{% endif %}"
vic_vm_alert_download_url: "{{ vic_vm_alert_repo_url }}/releases/download/{{ vic_vm_alert_version }}/vmutils{{ vic_vm_alert_platform }}-{{ go_arch }}-{{ vic_vm_alert_version }}{%if vic_vm_alert_enterprise %}-enterprise{% endif %}.tar.gz"
vic_vm_alert_system_user: "vic_vm_alert"
vic_vm_alert_system_group: "{{ vic_vm_alert_system_user }}"
vic_vm_alert_config_dir: "/opt/vic-vmalert"
vic_vm_alert_rules_config_path: "/opt/vic-vmalert/rules.yml"
vic_vm_alert_alertmanager_url: "http://localhost:9093"
vic_vm_alert_datasource_url: "http://localhost:8428"
vic_vm_alert_evaluation_interval: "30s"
vic_vm_alert_service_args:
  "httpListenAddr": "127.0.0.1:9431"
  "datasource.url": "{{ vic_vm_alert_datasource_url }}"
  "notifier.url": "{{ vic_vm_alert_alertmanager_url }}"
  # "notifier.url":
  #   - "{{ vic_vm_alert_alertmanager_url }}"
  "rule": "{{ vic_vm_alert_rules_config_path }}"
  "evaluationInterval": "{{ vic_vm_alert_evaluation_interval }}"

vic_vm_alert_max_open_files: 2097152

# Great examples of alerts - https://awesome-prometheus-alerts.grep.to/rules.html
vic_vm_alert_rules:
  - name: ansible managed alert rules
    rules:
      - alert: HostOutOfMemory
        expr: node_memory_MemAvailable_bytes / node_memory_MemTotal_bytes * 100 < 10
        for: 2m
        labels:
          severity: warning
        annotations:
          summary: '{% raw %}Host out of memory (instance {{ $labels.instance }}){% endraw %}'
          description: '{% raw %}"Node memory is filling up (< 10% left)\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"{% endraw %}'
