[Unit]
Requires=docker.service
After=docker.service
[Service]
EnvironmentFile={{ vmselect_environment_file | default(environment_file) }}
ExecStartPre=-/usr/bin/docker rm --force %N
ExecStart=/usr/bin/docker run \
  --name=%N \
  --rm=true \
  --network=host \
  --stop-timeout=30 \
  {{ vmselect_docker_repository }}:{{ vmselect_docker_version | default(vm_docker_image_tag) }} \
    -dedup.minScrapeInterval={{ vmselect_min_scrape_interval }}ms \
{% for host in groups[vmstorage_group] %}
    -storageNode={{ hostvars[host]['ansible_default_ipv4']['address'] }}:8401 {% if not loop.last %}\{% endif %}

{% endfor %}
ExecStartPost={{ vmselect_exec_start_post | default(exec_start_post) }}
ExecStop={{ vmselect_exec_stop | default(exec_stop) }}
ExecStop=-/usr/bin/docker stop %N
Restart=always
StartLimitInterval=0
RestartSec=10
KillMode=process
[Install]
WantedBy=multi-user.target
