[Unit]
Requires=docker.service
After=docker.service
[Service]
EnvironmentFile={{ vmstorage_environment_file | default(environment_file) }}
ExecStartPre=-/usr/bin/docker rm --force %N
ExecStart=/usr/bin/docker run \
  --name=%N \
  --rm=true \
  --network=host \
  --stop-timeout=30 \
  --volume={{ vmstorage_host_path }}:/vmstorage-data:rw \
  {{ vmstorage_docker_repository }}:{{ vmstorage_docker_version | default(vm_docker_image_tag) }}
ExecStartPost={{ vmstorage_exec_start_post | default(exec_start_post) }}
ExecStop={{ vmstorage_exec_stop | default(exec_stop) }}
ExecStop=-/usr/bin/docker stop %N
Restart=always
StartLimitInterval=0
RestartSec=10
KillMode=process
[Install]
WantedBy=multi-user.target
