{% if vm_role == "victoria-storage" %}
{% for item in vmstorage_params %}
{{ item.param | replace(".","_") }}={{ item.value }}
{% endfor %}
{% elif vm_role == "victoria-select" %}
{% for item in vmselect_params %}
{{ item.param | replace(".","_") }}={{ item.value }}
{% endfor %}
storageNode={% for host in groups[vmstorage_group] %}{{ hostvars[host]['ansible_'~if_name].ipv4.address }}:8401{% if not loop.last %},{% endif %}{% endfor %}
{% elif vm_role == "victoria-insert" %}
{% for item in vminsert_params %}
{{ item.param | replace(".","_") }}={{ item.value }}
{% endfor %}
storageNode={% for host in groups[vmstorage_group] %}{{ hostvars[host]['ansible_'~if_name].ipv4.address }}:8400{% if not loop.last %},{% endif %}{% endfor %}
{% endif %}
