{{ ansible_managed | comment }}

[Unit]
Description=Description=VictoriaMetrics vmagent service
After=network.target

[Service]
Type=simple
User={{ vmagent_system_user }}
Group={{ vmagent_system_group }}
ExecStart=/usr/local/bin/vmagent-prod {% for flag, flag_value in vmagent_service_args.items() %}--{{ flag }}={{ flag_value }} {% endfor %}

SyslogIdentifier=vic-vmagent
Restart=always

PrivateTmp=yes
ProtectHome=yes
NoNewPrivileges=yes

ProtectSystem=full

{% if vmagent_systemd_version | int >= 232 %}
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes
{% endif %}

{% if vmagent_exec_start_post != "" %}
ExecStartPost={{ vmagent_exec_start_post }}
{% endif %}

{% if vmagent_exec_stop != "" %}
ExecStop={{ vmagent_exec_stop }}
{% endif %}

[Install]
WantedBy=multi-user.target
