---
- name: Converge
  hosts: all
  become: yes
  tasks:
    - name: "Include vminsert"
      vars:
        vminsert_enterprise: true
        vminsert_license_key: "{{ lookup('env', 'VM_LICENSE_KEY') }}"
        vminsert_license_key_file: "{{ '' if lookup('env', 'VM_LICENSE_KEY') else '/tmp/vm-license' }}"
        vminsert_relabel_config: |-
          - source_labels: [__address__]
            target_label: instance
            regex: '(.+):.*'
            replacement: '${1}'
      ansible.builtin.include_role:
        name: "vminsert"
