---
- name: Converge
  hosts: all
  become: yes
  tasks:
    - name: "Include vmauth"
      vars:
        vmauth_enterprise: true
        vmauth_license_key: "{{ lookup('env', 'VM_LICENSE_KEY') }}"
        vmauth_license_key_file: "{{ '' if lookup('env', 'VM_LICENSE_KEY') else '/tmp/vm-license' }}"
      ansible.builtin.include_role:
        name: "vmauth"
